<div class="catmenu catmenu-2 mt-30">
  <button class="catmenu-trigger is-active">
    <span>Categories</span>
  </button>
  <nav class="catmenu-body">
    <ul>
      <li><a routerLink='/admin/route/list-shops' routerLinkActive='active'>
        Список Магазинов</a></li>
      <li><a routerLink='/admin/route/add-new-brand' routerLinkActive='active'>
        Добавить новый Бренд</a></li>
      <li><a routerLink="/admin/route/show-all-phone" routerLinkActive='active'>
        Показать все телефоны по сайту</a> </li>
        <li><a routerLink='/admin/route/list-shop-phones' routerLinkActive='active'>
          Телефоны магазинов</a></li>
      <li><a routerLink='/admin/route/list-banners' routerLinkActive='active'>
        Добавить новый Баннер</a></li>
      <li><a routerLink='/admin/route/list-sliders' routerLinkActive='active'>
        Добавить новый Слайд</a></li>
      <li><a routerLink="/admin/route/add-new" routerLinkActive='active'>
        Добавить новую Модель</a></li>
        <li><a routerLink="/admin/route/edit-profile" routerLinkActive='active'>
        Контакты</a></li>
        <li><a routerLink="/admin/route/faqs" routerLinkActive='active'> Настройка сайта</a></li>
      <li><a href="#" (click)="signOut()"><i class="ion ion-ios-log-out"></i>Выйти</a></li>
    </ul>
  </nav>
</div>