<!-- My Account Page -->
<div class="my-account-area ptb-30">
  <div class="container">
    <div class="row justify-content-md-center">

      <!-- Login Form -->
      <div class="col-lg-6">
        <div class="login-form-wrapper">
          <form class="ho-form ho-form-boxed">
            <h2 class="text-center">Авторизация для супер админа</h2>
            <div class="ho-form-inner">
              <div class="single-input">
                <label for="login-form-email">Адрес электронной почты</label>
                <input [(ngModel)]="email" class="form-control" id="inputEmail" name="emailAddress"
                  placeholder="электронная почта" type="email">
              </div>
              <div class="single-input">
                <label for="login-form-password">Пароль</label>
                <input [(ngModel)]="password" class="form-control" id="inputPassword" name="password" placeholder="пароль"
                type="password" >
              </div>
              <div class="single-input">
                <button (click)="login()" type="submit" class="btn ho-button ho-button-dark mr-3" data-toggle="modal" data-target="#reloadingSpinner" [disabled]="!isFormValid">
                  <span>Войти</span>
                </button>
                <!-- <div class="checkbox-input">
                  <input type="checkbox" name="login-form-remember" id="login-form-remember">
                  <label for="login-form-remember">Remember me</label>
                </div> -->
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--// Login Form -->
    </div>
  </div>
</div>
<!--// My Account Page -->


<!-- Modal Loading Spinner-->
<div *ngIf="loadSpin" class="modal fade" data-backdrop="static" data-keyboard="false" id="reloadingSpinner" tabindex="-1" role="dialog" aria-labelledby="reloadingSpinner" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div *ngIf="!err" >
        <app-loading-spinner *ngIf="loadSpin"></app-loading-spinner>
        <a #closeModal class="text-white" data-dismiss="modal" aria-label="Close" (click)="hideModel();">
          <i class="ti-close"></i>
        </a>
      </div>
      <div *ngIf="err" >
        <div class="modal-header">
          <h5 class="modal-title" style="color: red;">Ошибка</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>{{errorMessage}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
