<div class="ho-section categories-area mt-30">
    <!-- <div class="container"> -->
      <div class="section-title">
        <h3>Телефоны</h3>
      </div>
      <div class="categories-slider-2 slider-navigation-2 slider-navigation-2-m0">

        <div class="category-wrapper" *ngFor="let defaultPhone of shops">
          <article class="hoproduct" (click)="routeToPhoneDetail(defaultPhone?.brandId, defaultPhone?.series, defaultPhone?.model)">
            <div class="product-title__grid">
              <h5 class="hoproduct-title product-title">
                  {{defaultPhone?.brandId + ' ' + defaultPhone?.series + ' ' + defaultPhone?.model }}
              </h5>
              <div class="product-price">
                <span class="product-price__to">от</span>
                {{defaultPhone?.price?.low}} до {{defaultPhone?.price?.high}} c
              </div>
            </div>
            <div class="hoproduct-image product-image">
                <img class="hoproduct-frontimage product-image__item" src={{defaultPhone.images[0]}} loading="lazy" alt="product image">
            </div>

            <div class="hoproduct-content product-view">
              <div class="product-content">
                <div class="product-color">
                  <input class='product-color__item' name='color' type='radio'  [style.background-color]="color.hex" *ngFor="let color of defaultPhone.color"/>
                </div>
                <div class="product-memory">
                <span class="product-memory__item" *ngFor="let memory of defaultPhone.memory">
                     {{memory?.memoryStorage}} ГБ
                </span>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  <!-- </div> -->