.tab-pane {
  background-color: #ffff;
  padding: 15px;
  border-radius: 10px;
}

button {
  margin: 10px;
}

img {
  vertical-align: middle;
  border-style: none;
  border-radius: 50%;
  border: 1px solid;
  height: 12rem;
  width: 12rem;
}

article {
  border-radius: 50%;
}

