ul li a{
  cursor: pointer;
}

.header-middle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 15px 0;
}

.flaticon-menu{
  color:black;
}

.col-lg-2{
  padding-left: 0px;
}

.ho-navigation ul li a {
  color: #454545;
}
