<header class="header">
    <!-- Header Middle Area -->
    <div class="header-middle bg-theme">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-sm-6 order-1 order-lg-1">
                    <a (click)="navigate()" class="header-logo" style="cursor: pointer;">
                        <img src="/assets/main.png" alt="logo" style="height: 3rem;">
                    </a>
                </div>
                <div class="col-lg-7 col-md-7 col-12 order-3 order-lg-2">
                    <!-- <app-search-bar></app-search-bar> -->
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 order-2 order-lg-3" *ngIf="isShopIn" style="margin-top: 1rem;">
                    <div class="header-icons">
                        <div class="header-account">
                            <button class="header-accountbox-trigger" routerLink="/shop"><span class="lnr lnr-user"></span>Личный
                                кабинет</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 order-2 order-lg-3" *ngIf="isAdminIn" style="margin-top: 1rem;">
                    <div class="header-icons">
                        <div class="header-account">
                            <button class="header-accountbox-trigger" routerLink="/admin/route/list-shops"><span class="lnr lnr-user"></span>Личный
                                кабинет</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--// Header Middle Area -->
</header>
<!--// Header -->